name: Test all Linux platforms in sequence

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to test'
        required: false
        type: choice
        options:
          - master
          - v7
        default: master

jobs:
  amd64:
    uses: ./.github/workflows/platform.yaml
    with:
      platform: amd64
      branch: ${{ inputs.branch }}
  arm64:
    uses: ./.github/workflows/platform.yaml
    with:
      platform: arm64
      branch: ${{ inputs.branch }}
  arm:
    uses: ./.github/workflows/platform.yaml
    with:
      platform: arm
      branch: ${{ inputs.branch }}
  i386:
    uses: ./.github/workflows/platform.yaml
    with:
      platform: i386
      branch: ${{ inputs.branch }}
  ppc64le:
    uses: ./.github/workflows/platform.yaml
    with:
      platform: ppc64le
      branch: ${{ inputs.branch }}
  riscv64:
    uses: ./.github/workflows/platform.yaml
    with:
      platform: riscv64
      branch: ${{ inputs.branch }}
