name: Test FreeBSD

on:
  workflow_call:
    inputs:
      branch:
        description: 'Branch to test'
        required: false
        type: string
        default: master
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to test'
        required: false
        type: choice
        options:
          - master
          - v7
        default: master
  schedule:
  - cron: "10 3 2 * *" #2nd day of each month
  push:
    paths:
      - '.github/workflows/freebsd.yaml'

concurrency:
  # Cancel ongoing tests in case of push to  branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  freebsd-amd64:
    runs-on: ubuntu-24.04 # replicate for -arm

    strategy:
      fail-fast: false
      matrix:
        osversion:
          - "15.0"
          - "14.3"
          - "13.5"

    name: freebsd(${{ matrix.osversion }})

    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4
        with:
          repository: squid-cache/squid
          path: squid
          ref: ${{ inputs.branch }}

      - name: prep ccache
        uses: hendrikmuhs/ccache-action@v1
        with:
          key: ${{ github.job }}

      - name: Run test-builds
        id: test-builds
        uses: vmactions/freebsd-vm@v1
        with:
          usesh: true
          sync: rsync
          copyback: true
          release: ${{ matrix.osversion }}
          prepare: |
            set -e
            export BATCH=yes
            which nproc >/dev/null && echo "MAKE_JOBS_NUMBER?=`nproc --all`" >>/etc/make.conf
            echo "OPTIONS_UNSET=CUPS DEBUG DOCS FONTCONFIG NLS X11" >>/etc/make.conf
            echo "WITHOUT_MODULES=sound ntfs linux" >> /etc/make.conf
            echo "WITHOUT_X11=yes" >>/etc/make.conf
            echo "NO_SENDMAIL=true" >>/etc/make.conf
            echo "IGNORE_OSVERSION=yes" >>/usr/local/etc/pkg.conf

            pkg install -y \
                ccache \
                git-tiny \
                portmaster \
                gmake
            git clone --depth 1 https://git.FreeBSD.org/ports.git /usr/ports
            portmaster -G -H --no-confirm -t -P -d \
                devel/pkgconf \
                devel/autoconf \
                devel/autoconf-archive \
                devel/automake \
                devel/cppunit \
                devel/libltdl \
                devel/libtool \
                security/nettle
                # textproc/translate-toolkit
            ccache --set-config=cache_dir="$GITHUB_WORKSPACE/.ccache"
            ccache --set-config=max_size='500M'
            ccache --set-config=compression=true

          run: |
            set -e
            export MAKE=gmake
            export CC='ccache cc'
            export CXX='ccache c++'
            cd squid
            ./test-builds.sh

      - name: Publish build logs
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: freebsd-${{ matrix.osversion }}
          path: squid/btlayer-*.log

