name: Test OpenBSD

on:
  workflow_call:
    inputs:
      branch:
        description: 'Branch to test'
        required: false
        type: string
        default: master
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to test'
        required: false
        type: choice
        options:
          - master
          - v7
        default: master
  schedule:
  - cron: "10 4 2 * *"
  push:
    paths:
      - '.github/workflows/openbsd.yaml'

concurrency:
  # Cancel ongoing tests in case of push to  branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:

  openbsd:
    strategy:
      fail-fast: false
      matrix:
        osversion:
          - "7.8"
          - "7.7"
        platform:
          - amd64
          - arm64
          - riscv64
    runs-on: ${{ matrix.platform != 'arm64' && 'ubuntu-24.04' || 'ubuntu-24.04-arm' }}

    name: openbsd(${{ matrix.osversion }}, ${{ matrix.platform }})

    steps:
      - name: Checkout Sources
        uses: actions/checkout@v4
        with:
          repository: squid-cache/squid
          path: squid
          ref: ${{ inputs.branch }}

      - name: prep ccache
        uses: hendrikmuhs/ccache-action@v1
        with:
          key: ${{ github.job }}-${{ matrix.osversion }}-${{ matrix.platform }}-${{ hashFiles('squid/**') }}

      - name: Run test-builds
        id: test-builds
        uses: vmactions/openbsd-vm@v1
        with:
          usesh: true
          sync: rsync
          copyback: true
          release: ${{ matrix.osversion }}
          arch: ${{ matrix.platform }}
          prepare: |
            set -e
            export BATCH=yes

            pkg_add -I \
              autoconf%2.72 \
              autoconf-archive \
              automake%1.16 \
              bash \
              ccache \
              coreutils \
              cppunit \
              git \
              ggrep \
              gmake \
              libltdl \
              libtool \
              libnettle \
              libxml \
              libtool \
              m4 \
              metaauto \
              || exit 1

            mkdir $HOME/bin
            ln -s /usr/local/bin/ggrep $HOME/bin/grep

            ccache --set-config=cache_dir="$GITHUB_WORKSPACE/.ccache"
            ccache --set-config=max_size='500M'
            ccache --set-config=compression=true

          run: |
            set -e
            export MAKE=gmake
            export CC='ccache cc'
            export CXX='ccache c++'
            export pjobs="-j`gnproc`"
            export AUTOMAKE_VERSION=1.16
            export amver=${AUTOMAKE_VERSION}
            export ACLOCAL_AUTOMAKE_DIR="/usr/local/share/aclocal-${AUTOMAKE_VERSION}"
            export ACLOCAL_PATH="/usr/local/share/aclocal:/usr/local/share/aclocal-${AUTOMAKE_VERSION}"
            export AUTOCONF_VERSION=2.72
            export acver=${AUTOCONF_VERSION}
            export ltver=2.4.2
            export CFLAGS='-Wno-compound-token-split-by-macro'
            export LDFLAGS="-L/usr/local/lib"
            # until we remove GNUisms from our grep commands,
            # shadow system `grep` with `ggrep` installed/linked earlier
            export PATH="$HOME/bin:$PATH"
            cd squid
            exec /usr/local/bin/bash ./test-builds.sh layer-00-default layer-02-maximus

      - name: Publish build logs
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: openbsd-${{ matrix.osversion }}-${{ matrix.platform }}
          path: squid/btlayer-*.log

