name: Linux ppc64le

on:
  workflow_call:
    inputs:
      branch:
        description: 'Branch to test'
        required: false
        type: string
        default: master
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to test'
        required: false
        type: choice
        options:
          - master
          - v7
        default: master
  schedule:
  - cron: "10 3 * * 5"
#  push:
#    branches: [ github-actions-multiplatform ]

jobs:
  ppc64le:
    uses: ./.github/workflows/platform.yaml
    with:
      platform: ppc64le
      branch: ${{ inputs.branch }}
