name: Test riscv64

on:
  workflow_call:
    inputs:
      branch:
        description: 'Branch to test'
        required: false
        type: string
        default: master
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to test'
        required: false
        type: choice
        options:
          - master
          - v7
        default: master
  schedule:
  - cron: "10 3 * * 6"
#  push:
#    branches: [ github-actions-multiplatform ]

jobs:
  riscv64:
    uses: ./.github/workflows/platform.yaml
    with: { platform: riscv64 }
